body.single-players {

	section#main {

		article {
			#tab-links {
				border-bottom: 1px solid #eef0f2;
				margin: 0 0 20px 0;
				display: flex;

				a {
					display: inline-block;
					color: $blue;
					text-transform: uppercase;
					font-size: 1.125em;
					font-weight: bold;
					padding: 15px 25px;
					border-top: 1px solid #eef0f2;
					border-left: 1px solid #eef0f2;
					border-right: none;
					transition: none;

					&:last-of-type {
						border-right: 1px solid #eef0f2;
					}

					&.active,
					&:hover {
						background: $blue;
						color: $white;
						border-color: $blue;
					}
				}

			}

			#tabs {

				& > div {
					display: none;
					padding: 20px 30px;
				}

				#bio {
					p {
						font-family: $merriweather;
						font-size: 0.9375em;
						line-height: 1.75em;
					}

					ul, ol {
						margin: 0 0 30px 30px;

						li {
							margin: 0 0 10px 0;
							font-family: $merriweather;
							font-size: 0.875em;
							line-height: 1.5em;
						}
					}

					ul {
						list-style-type: disc;
					}

					ol{
						list-style-type: decimal;
					}
				}

				.item {
					display: flex;
					padding: 20px 0 20px 0;
					border-bottom: 1px solid #eef0f2;


					.key {
						display: block;
						width: 33.33333%;
						max-width: 200px;
						font-size: 0.875em;
						font-weight: bold;
					}

					.value {
						display: block;
						font-size: 0.875em;
					}
				}


			}


		}

		.aside-wrapper {
			justify-content: flex-start;

			@include tablet-landscape {
				justify-content: flex-end;
			}
		}

		aside#vitals {
			h3 {
				padding: 0 0 5px 0;
				color: $blue;
				font-size: 1.25em;
			}

			p {
				padding: 0 0 40px 0;
				font-size: 0.9375em;
			}
		}
	}


}